@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: Hanken Grotesk, sans-serif;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
main
{
    height: 100vh;
    color: white;
}
.container
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.content
{
    display: flex;
    width: 800px;
    height: 560px;
    background-color: white;
    border-radius: 51px;
    box-shadow: 40px 40px 30px rgba(0, 0, 0, 0.2);
}
.item1
{
    display: flex;
    flex-direction: column;
    width: 50%;
    background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 50px;
}
.item1 p
{
    font-size: 18px;
    text-align: center;
}

.item1 h2
{
    margin: 30px 0 20px 0;
    font-size: 40px;
}
.logoresultado
{
    color: white;
    height: 200px;
    width: 200px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    flex-direction: column;
}
.logoresultado h1, h2
{
    font-size: 70px;
    color: white;
}
.item1 p, span
{
    color: rgb(161, 157, 157);
}
.item2
{
    width: 50%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
.titulo-sumario
{
    color: black;
}
.sumario
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reaction, .memory, .verbal, .visual
{
    display: flex;
    gap: 1rem;
}
.icon1, .icon2, .icon3, .icon4 
{
    color: black;
}
.reaction
{
    color: hsl(0, 100%, 67%);
}
.memory
{
    color: hsl(39, 100%, 56%);
}
.verbal
{
    color: hsl(166, 100%, 37%);
}
.visual
{
    color: hsl(234, 85%, 45%);
}
.icon4
{
    background-color: #F3F3FD;
}
.icon1
{
    background-color: #FFF6F5;
}
.icon2
{
    background-color: #FFFBF2;
}
.icon3
{
    background-color: #F2FBFA;
}
.icon1, .icon2, .icon3, .icon4 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 20px ;
    border-radius: 10px;
}

.item2 button
{
    padding: 24px;
    width: 100%;
    border-radius: 50px;
    background-color: #303B59;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.item2 button:hover
{
    transition: all 0.5s;
    background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
